/* base */
#nav-mobile{
    width: 150px;
}

#mainBase{
    padding-left: 200px;
}

/* signup pg */
.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: rgb(39, 39, 39);
}

.btn-light {
    background-color: white;
}

.btn-light:hover {
    background-color: rgb(240, 245, 250);
}

.btn-light a {
    color: black;
}

/* login pg */
#gBtn {
    text-align: center; 
    margin: 10px 0 20px; 
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: 16px;
    width: 500px;
 } 

#sForms{
    width: 60%;
    margin: auto;
    margin-top: 100px;
 }

 #card-content{
    padding: 80px;
 }

 #bigger{
    font-size: 0.9em;
 }

.input-field{
    text-align: left;
}

#login-btn, #submit-btn{
  border-radius: 50px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  width: 500px;
}
