/* base */
#nav-mobile {
    width: 500px;
}

#mainBase {
    padding-left: 500px;
    padding-right: 500px;
}

#mainBase h1 {
    margin-top: 0;
}

.bold {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#navContent{
    font-size: 1.5rem;
    font-weight: normal;
    border-radius: 50px;
    margin-right: 1rem;
}

#home-icon, #profile-icon{
    position: relative;
    top: 0.2rem;
}

a.newPost{
    border-radius: 50px;
    background: linear-gradient(to right, #08c8fb, #3aa4ff);
    color: white !important;
    width: 33%;
}
a.newPost:hover{
    background: #389af0 !important;
}

#logInUserBlock {
    color: black;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
}

.user_avatar_nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 0.8rem;
}

#username_id span {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    align-items: flex-start;
}

.user-block {
    display: flex;
    align-items: center;
    position: relative;
    position: fixed;
    bottom: 7%;
}

.user-block:hover {
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
}

#user-info {
    top: 80%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

#nav_dropdown {
    position: absolute;
    top: 15%;
    right: 0;
    padding-right: 10px;
}

.dropdown-trigger {
    margin-left: 10px;
    padding-left: 10px;
}

.search-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
    padding-left: 35px;
}

.search_btn {
    margin-left: 1rem;
    width: 3.5rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to right, #08c8fb, #3aa4ff);
}

.search_btn p {
    margin-top: 0px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.search_btn:hover {
    background: #389af0;
    cursor: pointer;
}

#pill {
    border-block: 1px transparent;
    border-radius: 30px;
    background-color: rgb(243, 241, 241);
    padding-left: 10px;
}

#pill::placeholder {
    color: rgb(88, 87, 87);
}

#nav-right {
    right: 0;
    left: auto;
    padding-right: 200px;
    width: 500px;
}


/* .postMinusAvatar{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2rem;
 } */



/* login pg */
#gBtn {
    text-align: center;
    margin: 10px 0 20px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: 16px;
    width: 500px;
}

#sForms {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}

#bigger {
    font-size: 0.9em;
}

.input-field {
    text-align: left;
}

#login-btn,
#submit-btn {
    border-radius: 50px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    width: 500px;
}



/* signup pg */
.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: rgb(39, 39, 39);
}

.btn-light {
    background-color: white;
}

.btn-light:hover {
    background-color: rgb(240, 245, 250);
}

.btn-light a {
    color: black;
}



/* user_profile */
#grey-bg{
    display: block;
    background: rgb(233, 232, 232);
    width: 100%;
    height: 10rem;
    position: relative;
}

#avatar_file {
    top: 26%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    border:rgb(243, 241, 241) solid 1px;
}

.avatar_delete_btn{
    position: absolute;
    top: 26%;
    left: 15%;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 50%;
    border: none;
}
.avatar_delete_btn:hover{
    background-color: rgb(206, 203, 203);
    color: black;
}

#avatar-container form{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    position: absolute;
    top: 20%;
    left: 0;
    margin-left: 9rem;
    width: 30%;
}

#follow-btn, #following-btn{
    border-radius: 50px;
    padding: 0.3rem 0.8rem;
    font-size: 16px;
    float: right;
    margin-right: -0.8rem;
    margin-top: -6rem;
}

#following-btn{
    background-color: white;
    color: black;
    border: 1px solid rgb(219, 216, 216);
    font: bold;
}

#following-btn:hover{
    background-color: rgb(250, 183, 183);
    color: black;
}
#follow-btn:hover{
    background-color: rgb(39, 39, 39);
}

.card-content p{
    margin-top: 2rem;
}

#userprofile-userid{
    color: rgb(134, 133, 133);
}

/* home pg */
.user_avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.post_user_bar {
    position: relative;
    top: -20px;
    margin-left: -0.3rem;
}

.post_bar {
    padding-left: 1px;
    color: grey
}

#postCard {
    margin-bottom: 0;
    margin-top: 0;
}

#homeA {
    text-decoration: none;
    color: black;
}

.postContent {
    margin-left: 50px;
}

.postContent .rounded {
    border-radius: 10px;
    margin-bottom: 1rem;
}

.edit_btn,
.delete_btn {
    border: none;
    background-color: transparent;
    outline: none;
}

.dropdown-trigger {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
}

.dropdown-content {
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.dropdown-content ul {
    z-index: 9999;
    top: 0;
}

/* override Materializecss */
#dropdown_logout {
    display: block;
    width: 100px;
    left: 4rem !important;
    top: -5rem !important;
    height: auto !important;
    right: 0 !important;
    opacity: 1;
    display: none;
    border-bottom-left-radius: 0;
}

/* new/edit pg */
#share-btn {
    border-radius: 50px;
    background-color: rgb(87, 189, 230);
    border: none;
    color: #fff;
    font-size: 16px;
    float: right;
}

div#edit_form_input textarea {
    border: none;
    outline: none;
}

#img_container {
    position: relative;
    display: inline-block;
}

.img_delete_btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 50%;
    box-shadow: none;
}

.img_delete_btn:hover {
    background-color: rgb(230, 230, 230);
}

#img_warp {
    position: relative;
    display: inline-block;
}



/* post_detail pg */
.postIcons {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.postIcons img:hover {
    background: rgb(230, 230, 230);
    border-radius: 50%;
}

.postIcons img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.3rem;
}

#commentSection,
#repostSection,
#likeSection {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
}

#commentSection p, #repostSection p, #likeSection p{
    color: black;
    padding-left: 0.5rem;
}

#comment-dropdown{
    margin-top: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}