/* base */
#nav-mobile {
    width: 500px;
}

#mainBase {
    padding-left: 500px;
    padding-right: 500px;
}

#mainBase h1 {
    margin-top: 0;
}

.bold {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#navContent {
    font-size: 22px;
    font-weight: normal;
}

#logInUserBlock {
    color: black;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
}

.user_avatar_nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 0.8rem;
}

#username_id span {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    align-items: flex-start;
}

.user-block {
    display: flex;
    align-items: center;
    position: relative;
}

.user-block:hover {
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
}

#user-info {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

#nav_dropdown {
    position: absolute;
    top: 15%;
    right: 0;
    padding-right: 10px;
}

.dropdown-trigger {
    margin-left: 10px;
    padding-left: 10px;
}

.search-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
    padding-left: 35px;
}

.search_btn {
    /* margin-left: 5px;
    margin-top: 0px;
    padding-bottom: 10px; */
    width: 3.5rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to right, #08c8fb, #3aa4ff);
}

.search_btn p {
    margin-top: 0px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.search_btn:hover {
    background-color: #5a99c0;
}

#pill {
    border-block: 1px transparent;
    border-radius: 30px;
    background-color: rgb(243, 241, 241);
    padding-left: 10px;
}

#pill::placeholder {
    color: rgb(88, 87, 87);
}

#nav-right {
    right: 0;
    left: auto;
    padding-right: 200px;
    width: 500px;
}


/* .postMinusAvatar{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2rem;
 } */



/* login pg */
#gBtn {
    text-align: center;
    margin: 10px 0 20px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: 16px;
    width: 500px;
}

#sForms {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}

#bigger {
    font-size: 0.9em;
}

.input-field {
    text-align: left;
}

#login-btn,
#submit-btn {
    border-radius: 50px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    width: 500px;
}



/* signup pg */
.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: rgb(39, 39, 39);
}

.btn-light {
    background-color: white;
}

.btn-light:hover {
    background-color: rgb(240, 245, 250);
}

.btn-light a {
    color: black;
}



/* user_profile */

#avatar_file {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}



/* home pg */
.user_avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.post_user_bar {
    position: relative;
    top: -20px;
    margin-left: -0.3rem;
}

.post_bar {
    padding-left: 1px;
    color: grey
}

#postCard {
    margin-bottom: 0;
    margin-top: 0;
}

#homeA {
    text-decoration: none;
    color: black;
}

.postContent {
    margin-left: 50px;
}

.postContent .rounded {
    border-radius: 10px;
    margin-bottom: 1rem;
}

.edit_btn,
.delete_btn {
    border: none;
    background-color: transparent;
    outline: none;
}

.dropdown-trigger {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
}

.dropdown-content {
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.dropdown-content ul {
    z-index: 9999;
    top: 0;
}

/* override Materializecss */
#dropdown_logout {
    display: block;
    width: 100px;
    left: auto !important;
    top: auto !important;
    height: auto !important;
    opacity: 1;
    display: none;
}

/* new/edit pg */
#share-btn {
    border-radius: 50px;
    background-color: rgb(87, 189, 230);
    border: none;
    color: #fff;
    font-size: 16px;
    float: right;
}

div#edit_form_input textarea {
    border: none;
    outline: none;
}

#img_container {
    position: relative;
    display: inline-block;
}

.img_delete_btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(22, 22, 22);
    color: white;
    border-radius: 50%;
    box-shadow: none;
}

.img_delete_btn:hover {
    background-color: rgb(121, 119, 119);
}

#img_warp {
    position: relative;
    display: inline-block;
}



/* post_detail pg */
.postIcons {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.postIcons img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.3rem;
}

#commentSection,
#repostSection,
#likeSection {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
}

#commentSection p {
    color: black;
    padding-left: 0.5rem;
}