{% extends 'base.html' %}

{% block title %}
<title>edit profile</title>
{% endblock %}

{% block content %}
<main id="mainBase">
    <div class="card" id="postCard">
        <h5>Edit profile</h5>
        <div id="grey-bg"></div>
        <div class="card-content">

            <!-- display avatar -->
            {% if user.userprofile.avatar %}
            <img src="{{ user.userprofile.avatar }}" class="rounded" id="edit_avatar_file">
            {% if request.user.is_authenticated and request.user == user and user.userprofile.avatar != 'https://s3.us-east-2.amazonaws.com/k-chatter/713d6b.PNG'%}
            <form method="POST" action="{% url 'delete_avatar' user.id %}">
                {% csrf_token %}
                <button type="submit" class="edit_avatar_delete_btn">X</button>
            </form>
            {% endif %}
            {% endif %}
            <!-- Upload avatar -->
            <div id="avatar-container">
                {% if request.user.is_authenticated and request.user == user%}
                <form action="{% url 'add_avatar' user.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="avatar-file">
                    <input type="submit" value="Upload Avatar">
                </form>
                {% endif %}
            </div>
            <form method="POST" id="edit_bio">
                {% csrf_token %}
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.bio }}
                        </div>
                        <input type="submit" value="Save">
                    </div>
                </div>
            </form>

</main>
{% endblock %}