{% extends 'base.html' %}

{% block title %}
<title>{{ user.username }}'s Profile</title>
{% endblock %}

{% block content %}
<main id="mainBase">
    <div class="card" id="postCard">
        <div class="card-content">
            <h3>{{ user.username }} profile</h3>
            <!-- add back btn -->
            <!-- add post count -->

            <!-- display avatar -->
            {% if user.userprofile.avatar %}
            <img src="{{ user.userprofile.avatar }}" class="rounded" id="avatar_file">
            {% endif %}
            {% if request.user.is_authenticated and request.user == user %}
            <a href="{% url 'user_profile_edit' user.id %}">Edit Profile</a>
            {% endif %}
            <p>{{user.userprofile.bio}} </p>
        </div>
    </div>

</main>
{% endblock %}