{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container login-page">
        <a href="{% url 'home' %}" id="back-home"><img src="https://res.cloudinary.com/dhjajmvyz/image/upload/v1685840607/134226_back_arrow_left_icon_zz9m30.png" alt="back home"></a>
    <div class="col card hoverable s12 m3 l3 xl3" id="sForms">
        <div id="card-content">
            <div id="card-content">
                <h4 id="signInUp"><strong>Sign in to Chatter</strong></h4>

                {% if error %}
                <p>{{ error }}</p>
                {% endif %}

                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <hr>
                <form method="POST" class="col s12">
                    <div class="card-content">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field" id="login-form">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                                <br>
                                <br>
                                <input type="submit" value="Next" class="btn" id="login-btn">
                            </div>
                        </div>
                </form>
            </div>
        </div>
        
        {% endblock %}