{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block title %}
    <title>Chatter</title>
    {% endblock %}
</head>

<body>
    <ul id="nav-mobile" class="sidenav sidenav-fixed center-align">
        {% if user.is_authenticated %}
        <li class="bold">
            <a class="waves-effect waves-teal" href="{% url 'logout' %}">Logout</a>
            <a class="waves-effect waves-teal" href="{% url 'home' %}">Home</a>
            <a class="waves-effect waves-teal" href="{% url 'post_compose' %}">New Post</a>
        </li>
        {% else %}
        <li class="bold">
            <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li class="bold">
            <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
    </ul>
    {% block content %}
    {% endblock %}

</body>

</html>