{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block title %}
    <title>Chatter</title>
    {% endblock %}
</head>

<body>
    <ul id="nav-mobile" class="sidenav sidenav-fixed center-align">
        {% if user.is_authenticated %}
        <li class="bold">
            <a id="navContent" href="{% url 'logout' %}">Logout</a>
            <a id="navContent" href="{% url 'home' %}">Home</a>
            <a id="navContent" href="{% url 'post_compose' %}">New Post</a>
        </li>
        {% else %}
        <li class="bold">
            <a id="navContent" href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li class="bold">
            <a id="navContent" href="{% url 'login' %}">Sign in</a>
        </li>
        {% endif %}
    </ul>
    </div>

    <div id="nav-right" class="sidenav sidenav-fixed right-align">
        <form method="GET" action="{% url 'search' %}" class="search-form">
            <input type="text" class="black-text" placeholder="Search Chatter" name="searching" id="pill" autocomplete="off">
            <button type="submit" class="search_btn">→</button>
        </form>
    </div>
    {% block content %}
    {% endblock %}

</body>
</html>