{% extends 'base.html' %}

{% block content %}
<main id="mainBase">
    <div class="row">
        <div class="col s12 m10">
            <h1 class="header">Home / Chatter</h1>
        </div>
    </div>

    {% for post in posts %}
    <a href="{% url 'post_detail' post.id %}" id="homeA">
        <div class="card" id="postCard">
            <div class="card-content">
                <p>{{ post.user.username }} @{{post.user.id}} · {{ post.created_at }}</p>
                {% if user.is_authenticated and user == post.user %}
                <!-- Dropdown Trigger -->
                <a class="dropdown-trigger" data-target="dropdown">⋯</a>
                <!-- Dropdown Structure -->
                <ul id="dropdown" class="dropdown-content">
                    <li>
                        <a href="{% url 'post_edit' post.id %}">Edit</a>
                    </li>
                    <li>
                        <a href="{% url 'post_delete' post.id %}">Delete</a>
                    </li>
                </ul>
                {% endif %}
                <div class="postContent">
                    <p>{{ post.content }}</p>
                    <!-- Display photos -->
                    {% for photo in post.photo_set.all %}
                    <img src="{{ photo.url }}" class="rounded">
                    {% endfor %}
                </div>
    </a>
            </div>
        </div>
    {% endfor %}
</main>
<script>
    $(document).ready(function() {
        $(".dropdown-trigger").dropdown();
    });
</script>
{% endblock %}