{% extends 'base.html' %}

{% block content %}
<main id="mainBase" class="row">
    <h5 class="header"><strong>Home</strong></h5>
    {% for post in posts %}
    <div class="card hoverable" id="postCard">
        <div class="row">
            <div class="card-content" id="post_card">
                <div class="avatar_profile_pg">
                    <a href="{% url 'user_profile' post.user.id %}">
                        <img class="user_avatar responsive-img" src="{{ post.user.userprofile.avatar}}">
                    </a>
                </div>
                <a href="{% url 'post_detail' post.id %}" id="homeA">
                    <div class="postMinusAvatar col s12">
                        <p><span class="post_user_bar"><strong>{{ post.user.username }}</strong>
                                <span class="post_bar">@{{post.user.id}} · {{ post.created_at }}</span>

                                <!-- Dropdown Trigger -->
                                <span class="dropdown-trigger" data-target="dropdown{{ post.id }}"><b
                                        class="black-text text-darken-2">⋯</b></span></p></span>

                        <div class="postContent col s12">
                            <p>{{ post.content }}</p><br>
                            <!-- Display photos -->
                            {% for photo in post.photo_set.all %}
                            <img src="{{ photo.url }}" class="responsive-img rounded">
                            {% endfor %}
                        </div>
                        <div class="postIcons col s12">
                            <div class="row">
                                <div class="col s3">
                                    <a href="{% url 'add_comment' post.id %}" id="commentSection">
                                        <img src="https://k-chatter.s3.us-east-2.amazonaws.com/App+pics/comment+icon.png"
                                            alt="comment icon">
                                        <p>{{ post.comment_num }}</p>
                                    </a>
                                </div>
                                <div class="col s3">
                                    <a id="repostSection" href="{% url 'repost' post.id %}">
                                        <img src="https://k-chatter.s3.us-east-2.amazonaws.com/App+pics/retweet+icon.png"
                                            alt="repost icon">
                                        <p>{{ post.repost_num }}</p>
                                    </a>
                                </div>
                                <div class="col s3">
                                    <a href="{% url 'update_like' post.id %}" id="likeSection">
                                        <img src="https://k-chatter.s3.us-east-2.amazonaws.com/App+pics/like+icon.png"
                                            alt="like icon">
                                        <p>{{ post.like_num }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </a>
        {% endfor %}
        {% for post in posts %}
        <!-- Dropdown Structure -->
        {% if request.user.is_authenticated and request.user == post.user %}
        <ul id="dropdown{{ post.id }}" class="dropdown-content">
            <li>
                <a class="black-text text-darken-2 edit_btn" href="{% url 'post_edit' post.id %}"><b>Edit</b></a>
            </li>
            <li>
                <a class="red-text text-darken-2 delete_btn" href="{% url 'post_delete' post.id %}"><b>Delete</b></a>
            </li>
        </ul>
        {% elif request.user.is_authenticated %}
        <ul id="dropdown{{ post.id }}" class="dropdown-content">
            {% if request.user in post.user.userprofile.followers.all %}
            <li>
                <a class="black-text text-darken-2 follow_btn_home" href="{% url 'follow' user.id %}"><b>unfollow
                        {{ post.user.username }}</b></a>
            </li>
            {% else %}
            <li>
                <a class="black-text text-darken-2 follow_btn_home" href="{% url 'follow' user.id %}"><b>follow
                        {{ post.user.username }}</b></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</main>
<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown({
            constrainWidth: false
        });
    });
</script>
{% endblock %}