{% extends 'base.html' %}

{% block content %}
<main id="mainBase">
    <div class="row">
        <div class="col s12 m10">
            <h1 class="header">Home / Chatter</h1>
        </div>
    </div>

    <div class="sidenav-right">
        <form method="GET" action="{% url 'search' %}" class="search-form">
            <input type="text" placeholder="Search Chatter" name="searching">
            <button type="submit">Search</button>
        </form>
    </div>

    {% for post in posts %}
    <a href="{% url 'post_detail' post.id %}" id="homeA">
    <div class="card" id="homeCard">
        <div class="card-content">
            <p>{{ post.user.username }}</p>
                <p>{{ post.content }}</p>
                
                <!-- Display photos -->
                {% for photo in post.photo_set.all %}
                <img src="{{ photo.url }}" class="rounded">
                {% endfor %}
                
                <p>{{ post.created_at }}</p>
            </a>
                
                {% if user.is_authenticated and user == post.user %}
                <div>
                    <a href="{% url 'post_edit' post.id %}">Edit</a>
                    <a href="{% url 'post_delete' post.id %}">Delete</a>
                </div>
                {% endif %}
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}