{% extends 'base.html' %}

{% block title %}
{% if object %}
<title>Edit</title>
{% else %}
<title>Create A Post</title>
{% endif %}
{% endblock %}

{% block content %}
<main id="mainBase">
    <a href="{% url 'home' %}" id="back-home"><img src="https://res.cloudinary.com/dhjajmvyz/image/upload/v1685840607/134226_back_arrow_left_icon_zz9m30.png" alt="back home"></a>
    <div class="col card hoverable" id="sForms">
        <div class="row">
            <div class="card-content">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12 m12 l12 cl12" id="edit_form_input">
                                {% if object %}
                                {{ form.content }}
                                {% else %}
                                <textarea name="{{ form.content.name }}" placeholder="What's happening?" rows="10"
                                    cols="40"></textarea>
                                {% endif %}
                            </div>
                            <div id="img_container">
                                {% if post.photo_set and user == post.user %}
                                <!-- Display photos -->
                                {% for photo in post.photo_set.all %}
                                <div id="img_warp">
                                    <img src="{{ photo.url }}" class="rounded responsive-img">
                                    <form method="POST" action="{% url 'delete_photo' post_id=post.id photo_id=photo.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="img_delete_btn">X</button>
                                    </form>                                    
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <input type="submit" value="Share" id="share-btn">
                    </div>
                </form>
                <!-- Upload photos -->
                {% if user.is_authenticated and user == post.user %}
                <div class="card-content">
                    <form action="{% url 'add_photo' post.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="photo-file">
                        <input type="submit" value="Upload Photo" id="upload-btn">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
	