{% extends 'base.html' %}

{% block title %}
{% if object %}
<title>Edit {{object.name}}</title>
{% else %}
<title>Create A Post</title>
{% endif %}
{% endblock %}

{% block content %}
<main id="mainBase">
    <div class="col card hoverable s10 m6 12">
        <div id="card-content">
        {% if object %}
        <h5>Edit {{object.name}}</h5>
        {% else %}
        <h5>New Post</h5>
        {% endif %}

        <form method="POST" class="col s12">
            {% csrf_token %}
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12" id="edit_form_input">
                        <textarea name="{{ form.content.name }}" placeholder="What's happening?" rows="10" cols="40"></textarea>
                    </div>
                <div id="img_container"> 
                    {% if post.photo_set and user == post.user %}
                       <!-- Display photos -->
                          {% for photo in post.photo_set.all %}
                          <div id="img_warp">
                             <img src="{{ photo.url }}" class="rounded">
                             <form method="POST" action="{% url 'delete_photo' post.id photo.id%}">
                             {% csrf_token %}
                             <button type="submit" class="img_delete_btn">X</button>
                             </form>
                          </div>
                          {% endfor %}
                    {% endif %}
                </div>
                       <!-- Upload photos -->
                       {% if user.is_authenticated and user == post.user %}
                       <form action="{% url 'add_photo' post.id %}" method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                       <input type="file" name="photo-file">
                       <input type="submit" value="Upload Photo">
                       </form>
                       {% endif %}
             </div>
            <input type="submit" value="Share"> 
        </form>
</main>
{% endblock %}