{% extends 'base.html' %}

{% block title %}
<br>
<main id="mainBase">
<title>Searched results</title>
{% endblock %}i

{% block content %}

{% if results %}
<div class="card" id="postCard">
    <div class="card-content">
<ul>
    {% for result in results %}
    <li>
        <a href="{% url 'post_detail' result.id %}">{{result.content}}</a>
    </li>

    <!-- Display photos -->
    {% for photo in result.photo_set.all %}
    <img src="{{ photo.url }}" class="rounded">
    {% endfor %}

    <p>{{ result.created_at }}</p>
    <br>
    {% endfor %}

{% if user.is_authenticated and user == post.user %}
<div>
   <a href="{% url 'post_edit' post.id %}">Edit</a>
   <a href="{% url 'post_delete' post.id %}">Delete</a>
</div>
{% endif %}

</ul>
<br>
{% elif searching %}
    <p>No results found.</p>
{% endif %}
</div>
</div>
</main>
{% endblock %}
