{% extends 'base.html' %}

{% block title %}
<br>
<title>Search</title>
{% endblock %}i

{% block content %}

{% if user.is_authenticated %}
<main id="mainBase">
    <a href="{% url 'home' %}" id="back-home"><img src="https://res.cloudinary.com/dhjajmvyz/image/upload/v1685840607/134226_back_arrow_left_icon_zz9m30.png" alt="back home"></a>
    <div class="col s12 m3 l3 xl3">
            <form method="GET" action="{% url 'search' %}" class="search-form mobile-search-pg">
                <input type="text" class="black-text" placeholder="Search Chatter" name="searching" id="pill"
                    autocomplete="off">
                <button type="submit" class="search_btn mobile_search_btn">
                    <img src="https://res.cloudinary.com/dhjajmvyz/image/upload/v1685896443/211621_c_right_arrow_icon_esfy6t.svg" alt="search" width="100%" height="100%">
                </button>
            </form>
    </div>
</main>
{% endif %}
{% endblock %}
